.ruta{
    height: 100px;
    width: 100px;
    background-color: red;
}

.ruta2{
    height: 100px;
    width: 100px;
    background-color: blue;
}

.ruta3{
    height: 100px;
    width: 100px;
    background-color: green;
}

